<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <title>Debug Assistant</title>

</head>

<body>
    <div class="content">
        <div class="conversation-title">
            <h1>Debug Assistant</h1>
        </div>
        <div class="conversation-wrapper">
        </div>
        <div class="messaging-area">
            <a class="location">
                <i class="ri-lightbulb-line"></i>
            </a>
            <input id="message-text" placeholder="Your message here..." />
            <a class="send">
                <i class="ri-send-plane-line"></i>
            </a>
        </div>
    </div>

    <script src='../static/js/chat.js'></script>
</body>

</html>